```
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
df = pd.read_csv("../../Datasets/price.csv")
```
Yukarıda yer alan kodu kullanarak
1. Verinin içeriğine bakılması
2. Tarih Verisinin indis haline getirilmesi
3. frekansın iş günü haline getirilmesi
4. Bonds sütunu için grafik çizilmesi
5. Bonds Sütununu dikkate alarak `lags`,`shifted` değerlerinin hesaplanması
6. Bonds dikkate alarak yüzdelik değişimin hesaplanması 
işlemlerini gerçekleştirelim

In [1]:
import pandas as pd

In [2]:
from datetime import datetime

In [25]:
df= pd.read_csv("../../Datasets/price.csv")

In [26]:
df.DATE = pd.to_datetime(df.DATE)
df.set_index("DATE",inplace=True)

In [27]:
df.head()

              SP500   Bonds    Gold    Oil
DATE
2007-06-29  1503.35  402.15  648.50  70.47
2007-07-02  1519.43  402.96  650.50  71.11
2007-07-03  1524.87  402.02  657.25  71.41
2007-07-05  1525.40  400.15  655.90  71.81
2007-07-06  1530.44  399.31  647.75  72.80

In [28]:
df = df.asfreq('B')

In [30]:
df["b_lag"] = df.Bonds.shift(-1)
df["b_shift"] = df.Bonds.shift()

In [34]:
df.head()

              SP500   Bonds    Gold    Oil   b_lag  b_shift       chg
DATE
2007-06-29  1503.35  402.15  648.50  70.47  402.96      NaN       NaN
2007-07-02  1519.43  402.96  650.50  71.11  402.02   402.15  0.201417
2007-07-03  1524.87  402.02  657.25  71.41     NaN   402.96 -0.233274
2007-07-04      NaN     NaN     NaN    NaN  400.15   402.02  0.000000
2007-07-05  1525.40  400.15  655.90  71.81  399.31      NaN -0.465151

In [33]:
df["chg"] = df.Bonds.pct_change().mul(100)

/tmp/ipykernel_39158/2183768416.py:1: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df["chg"] = df.Bonds.pct_change().mul(100)