In [4]:
import pandas as pd
from datetime import datetime
time_stamp = pd.Timestamp(datetime(2023,12,7))

In [5]:
time_stamp.year

2023

### period

In [7]:
period = pd.Period('2023-01')
period

Period('2023-01', 'M')

### asfreq

In [8]:
period.asfreq('D')

Period('2023-01-31', 'D')

In [10]:
period.to_timestamp().to_period('M') + 3

Period('2023-04', 'M')

In [11]:
index = pd.date_range(start = '2022-1-1', periods = 12, freq = 'M')
index

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31'],
              dtype='datetime64[ns]', freq='M')

#### Veri YÃ¼kleme

In [16]:
google = pd.read_csv('../Datasets/google.csv')
google

         Date   Close
0  2014-01-02  556.00
1  2014-01-03  551.95
2  2014-01-04     NaN
3  2014-01-05     NaN
4  2014-01-06  558.10

In [17]:
google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1094 non-null   object
 1   Close   756 non-null    float64
dtypes: float64(1), object(1)
memory usage: 17.2+ KB