```
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
df = pd.read_csv("../../Datasets/price.csv")
```
Yukarıda yer alan kodu kullanarak
1. Verinin içeriğine bakılması
2. Tarih Verisinin indis haline getirilmesi
3. frekansın iş günü haline getirilmesi
4. Bonds sütunu için grafik çizilmesi
5. Bonds Sütununu dikkate alarak `lags`,`shifted` değerlerinin hesaplanması
6. Bonds dikkate alarak yüzdelik değişimin hesaplanması 
işlemlerini gerçekleştirelim

In [9]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('../../Datasets/price.csv')
df.head()

         DATE    SP500   Bonds    Gold    Oil
0  2007-06-29  1503.35  402.15  648.50  70.47
1  2007-07-02  1519.43  402.96  650.50  71.11
2  2007-07-03  1524.87  402.02  657.25  71.41
3  2007-07-05  1525.40  400.15  655.90  71.81
4  2007-07-06  1530.44  399.31  647.75  72.80

In [11]:
# verinin iceriği
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2469 entries, 0 to 2468
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    2469 non-null   object
 1   SP500   2469 non-null   float64
 2   Bonds   2469 non-null   float64
 3   Gold    2469 non-null   float64
 4   Oil     2469 non-null   float64
dtypes: float64(4), object(1)
memory usage: 96.6+ KB

In [12]:
# tarih verisinin indis haline getirilmesi

df.DATE = pd.to_datetime(df.DATE)
df.set_index('DATE',inplace=True)
df.info()
#DATE sutunu dataframe üzerinde index e cevrildi

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2469 entries, 2007-06-29 to 2017-06-26
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SP500   2469 non-null   float64
 1   Bonds   2469 non-null   float64
 2   Gold    2469 non-null   float64
 3   Oil     2469 non-null   float64
dtypes: float64(4)
memory usage: 96.4 KB

In [6]:
#frekansın isgunu haline getirilmesi
df = df.asfreq('B')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1 entries, 1970-01-01 to 1970-01-01
Freq: B
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    0 non-null      object
 1   SP500   0 non-null      float64
 2   Bonds   0 non-null      float64
 3   Gold    0 non-null      float64
 4   Oil     0 non-null      float64
dtypes: float64(4), object(1)
memory usage: 48.0+ bytes

In [7]:
df.head()

           DATE  SP500  Bonds  Gold  Oil
1970-01-01  NaN    NaN    NaN   NaN  NaN