Kütüphaneleri import etmek

timestamp

In [13]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

time_stamp = pd.Timestamp(datetime(2023,12,7))
time_stamp.year

period

In [14]:
period = pd.Period('2023-01')
period

Period('2023-01', 'M')

asfreq

In [15]:
period.asfreq('D')

Period('2023-01-31', 'D')

In [16]:
period.to_timestamp().to_period('M') + 3

Period('2023-04', 'M')

date_range

In [17]:
index = pd.date_range(start='2022-1-1',periods=12,freq='M')
index

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31'],
              dtype='datetime64[ns]', freq='M')

Veri Yükleme

In [18]:
google = pd.read_csv('../../Datasets/google.csv')
google.head()

         Date   Close
0  2014-01-02  556.00
1  2014-01-03  551.95
2  2014-01-04     NaN
3  2014-01-05     NaN
4  2014-01-06  558.10

In [19]:
google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1094 non-null   object
 1   Close   756 non-null    float64
dtypes: float64(1), object(1)
memory usage: 17.2+ KB

In [20]:
google.Date = pd.to_datetime(google.Date)
google.set_index('Date',inplace=True)
google.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1094 entries, 2014-01-02 to 2016-12-30
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   756 non-null    float64
dtypes: float64(1)
memory usage: 17.1 KB

In [ ]:
google.Close.plot()
plt.tight_layout()
plt.show()

In [ ]:
google.loc['2015'].info()

In [ ]:
google['2015-3':'2016-2'].info()

In [ ]:
google.asfreq('D').head()

In [ ]:
google.asfreq('B').head()

In [ ]:
google = google.asfreq('B')
google.info()

Lags, changes, shifting

In [ ]:
google["shifted"] = google.Close.shift()
google.head()

In [ ]:
google["lagged"] = google.Close.shift(periods=-1)
google.tail(3)

In [ ]:
google["change"] = google.Close.div(google.shifted)
google["return"] = google.change.sub(1).mul(100)
google.head(3)

In [ ]:
google["pct_change"] = google.Close.pct_change().mul(100)
google.head()

In [ ]:
google["return_3d"] = google.Close.pct_change(periods=3).mul(100)
google[["Close","return_3d"]].head()